* {
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: none;
	padding: 0;
	margin: 0; }

html, body {
	height: 100%;
	line-height: 1.3em;
	text-align: justify;
	background: #fff;}

p, ol, ul {
	margin: 0.3em 0; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

body {
	margin: 0;
	padding: 0; 
	text-align: justify;
	padding: 0 1em; }

/* Structure */

.titlepage{
	margin: 4em auto;
	text-align: center;
}

.title, h1{
	font-family: "Palatino Linotype", "Palatino", "Book Antiqua", "Serif";
	line-height: 2em;
	font-size: 2.5em;
	font-weight: normal;
}

.author{
	font-size: 1em;
}

.pubdate{
	font-size: 0.8em;
}

li {
	margin-left: 1.5em;
	list-style-type: square;
}


img {
	margin: 0 5px;
	padding: 2px; }

dt {
	margin-top: 1em;
	font-weight: bold; }
dd {
	font-style: italic; }
p {
	line-height: 1.5em;
	margin: 1em 0; }

ol.toc {
	margin-left: 1.5em;
}

.toc > li[class] {
	font-weight: bold;
}


.toc li {
	line-height: 1.5em;
	list-style-type: none; 
	margin-left: 0;
}

.toc li a, .toc li a:hover {
	color: #000;
}

table {
	border: 1px dashed #555555; }

tr, td, th {
	padding: 5px; }

td {
	border-left: 1px dashed #555555;
	border-right: 1px dashed #555555; }

th {
	border: 1px dashed #555555; }


/* BLOCKS */

.center{
	text-align: center;
	margin: auto;
}

.left{
	text-align: left;
	margin: auto;
}

.right{
	text-align: center;
	margin: auto;
}
.note, .box {
	display: block;
	border:1px solid #473F2B;
	background: #FFF6AD;
	padding: 0.5em;
	color: #918058;
	color: #665A3E;
	width: 400px;
	margin: 1em auto;
}

.box-title {
	color: #473F2B;
	height: 1em;
	text-align: center;
	display:block;
	font-size: 1.2em;
	font-weight: bold;
}

.code {
	padding: 0.5em;
	font-size: 0.9em;
	border: 1px solid #5A635C;
	background: #E5E5E5;
	width: 400px;
	margin: 1em auto;
}


/* TEXT */
body {
	color: #000;
	font-family: "Georgia", "Serif";
	font-size: 0.9em; }

h2 {
	display: block;
	line-height: 3em;
	font-size: 2em;
	font-weight: normal;
	font-family: "Palatino Linotype", "Palatino", "Book Antiqua", "Serif";
	margin: 3em 0 0 0;
	margin: 0; }

h3 {
	line-height: 2.5em;
	font-size: 1.6em;
	font-weight: normal;
	font-family: "Palatino Linotype", "Palatino", "Book Antiqua", "Serif";
	margin: 1em 0 0 0; }

h4 {
	line-height: 2em;
	font-size: 1.3em;
	font-weight: normal;
	font-family: "Palatino Linotype", "Palatino", "Book Antiqua", "Serif";
	margin: 1em 0 0 0; }

em {
	font-style: italic; }

a{
	color: #8A1513;
	text-decoration: none;
}

a:hover {
	color: #CF282D; }

.highlight {
	font-family: "Consolas", "Monaco", "Monospace";
	border: 1px dashed #555555;
	padding: 5px;
	margin: 5px 0;
	overflow: auto; }

code {
	font-family: "Consolas", "Monaco", "Monospace"; 
	font-size: 0.9em;}
