* {
	border: none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	margin: 0;
	padding: 0;
}
html {
	background: #fff;
	height: 100%;
}
p, ol, ul {
	margin: 0.3em 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: auto;
}
body {
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	padding: 0 1em;
	text-align: justify;
}
/* Structure */
.titlepage {
	margin: auto;
	text-align: center;
}
.title, h1 {
	font-family: "Cardo", "Palatino", "Book Antiqua", "Serif";
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 0.2em;
}
.titlepage h2 {
	font-family: "Cardo", "Palatino", "Book Antiqua", "Serif";
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 0.5em;
	prince-bookmark-level: none;
}
.author {
	font-size: 1em;
}
.pubdate {
	font-size: 0.8em;
}
li {
	list-style-type: square;
	margin-left: 1.5em;
}
img {
	margin: 0 5px;
	padding: 2px;
}
dt {
	font-weight: bold;
	margin-top: 1em;
}
dd {
	font-style: italic;
}
p {
	line-height: 1.5em;
	margin: 0.5em 0;
}
ol.toc {
	margin-left: 1.5em;
}
.toc > li[class] {
	font-weight: bold;
}
.toc li {
	line-height: 1.5em;
	list-style-type: none;
	margin-left: 0;
}
.toc li a, .toc li a:hover {
	color: #000;
}
table {
	border: 1px solid #555555;
}
th {
	background: #E8E8E8;
}
tr, td, th {
	padding: 5px;
}
td {
	border-left: 1px solid #555555;
	border-right: 1px solid #555555;
}
th {
	border: 1px solid #555555;
}
sup {
	font-size: 0.7em;
	font-weight: bold;
	margin-left: -0.4em;
}
/* BLOCKS */
.center {
	margin: auto;
	text-align: center;
}
.left {
	margin: auto;
	text-align: left;
}
.right {
	margin: auto;
	text-align: center;
}
.note, 
.important, 
.tip, 
.caution, 
.box {
	background: #FFF6AD;
	border: 1px solid #473F2B;
	color: #918058;
	color: #665A3E;
	display: block;
	margin: 0.5em auto;
	padding: 0 0.5em;
	width: 600px;
}
.box-title, 
.note-title, 
.important-title, 
.tip-title, 
.caution-title {
	color: #473F2B;
	font-size: 1.2em;
	font-weight: bold;
}
.box-title {
	display: block;
	text-align: center;
}
.code {
	font-size: 0.9em;
	margin: 1em auto;
	padding: 0.5em;
	width: 600px;
}
/* TEXT */
body {
	color: #000;
	font-family: "Liberation Serif", "Palatino", "Book Antiqua", "Serif";
	font-size: 1em;
}
h2 {
	display: block;
	font-family: "Cardo", "Palatino", "Book Antiqua", "Serif";
	font-size: 2em;
	font-weight: bold;
	line-height: 3em;
	margin: 3em 0 0 0;
	margin: 0;
}
h3 {
	font-family: "Cardo", "Palatino", "Book Antiqua", "Serif";
	font-size: 1.6em;
	font-weight: normal;
	line-height: 2.5em;
	margin: 1em 0 0 0;
}
h4 {
	font-family: "Cardo", "Palatino", "Book Antiqua", "Serif";
	font-size: 1.3em;
	font-weight: normal;
	line-height: 2em;
	margin: 1em 0 0 0;
}
em {
	font-style: italic;
}
a {
	color: #8A1513;
	text-decoration: none;
}
a:hover {
	color: #CF282D;
}
.highlight {
	border: 1px dashed #555555;
	font-family: "Consolas", "Monaco", "Courier", "Monospace";
	margin: 5px 0;
	overflow: auto;
	padding: 5px;
}
code {
	font-family: "Consolas", "Monaco", "Courier", "Monospace";
	font-size: 1em;
}

