* {
	border: none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	margin: 0;
	padding: 0;
}
html {
	background: #fff;
}
ol, ul {
	margin: 0.3em 0;
}
p {
	margin: 1em 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: auto;
	margin-top: 1em;
}
body {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	padding: 0 1em;
	text-align: justify;
}

/* Structure */
.halftitlepage, .titlepage {
	margin: auto;
	text-align: center;
}
.title, h1 {
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 0.2em;
}
.halftitlepage h2, .titlepage h2 {
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 0.5em;
	prince-bookmark-level: none;
}
.author {
	font-size: 1em;
}
.pubdate {
	font-size: 0.8em;
}
li {
	list-style-type: square;
	margin: 0.4em 0;
	margin-left: 1.5em;
}
ol li{
	list-style-type: decimal;
}
.contents li {
	list-style-type: none;
}
img {
	margin: 0 5px;
	padding: 2px;
}
dt {
	font-weight: bold;
	margin-top: 1em;
}
dd {
	font-style: italic;
}

blockquote {
	margin: 1em 1em;
	font-style: italic;
	color: #121212;
}

table {
	border: 1px solid #E6E6E6;
}
th {
	background: #EEE;
}
tr, td, th {
	padding: 5px;
}
td, tr {
	border: 1px solid #E6E6E6;
}
sup {
	font-size: 0.7em;
	font-weight: bold;
	margin-left: -0.4em;
}
/* BLOCKS */
.center {
	margin: auto;
	text-align: center;
}
.left {
	margin: auto;
	text-align: left;
}
.right {
	margin: auto;
	text-align: center;
}

.note, 
.important, 
.tip, 
.caution, 
.box {
	border: 1px solid #E6E6E6;
	display: block;
	margin: 0.5em auto;
	padding: 0 0.5em;
	width: 600px;
	background: #EEE;
	color: #1F1F1F;
}
.note>p, 
.important>p, 
.tip>p, 
.caution>p {
	margin: 0;
	padding: 0;
}	
.note-title {
	font-weight: bold;
	margin-right: 1em;
}
.box-title {
	display: block;
	text-align: center;
	font-weight: bold;
}
.code {
	margin: 1em auto;
	padding: 0.5em;
	width: 600px;
}
.comment {
	display: block;
	border: 1px solid #004D00;
	background: #7AFF7A;
	padding: 3px;
	margin: 1px;
}
.comment .comment-pre {
	color: #004D00;
}
.todo {
	display: block;
	border: 1px solid #990000;
	background: #FF9999;
	padding: 3px;
	margin: 1px;
}
.todo .todo-pre {
	color: #990000;
}
/* TEXT */
body {
	color: #000;
	font-size: 1em;
}
h2 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin: 3em 0 1em 0;
}
h3 {
	font-size: 1.6em;
	font-weight: bold;
	margin: 3em 0 1em 0;
}
h4 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 3em 0 1em 0;
}
em {
	font-style: italic;
}
a {
	color: #8A1513;
	text-decoration: none;
}
a:hover {
	color: #CF282D;
}
code, pre {
	font-size: 0.75em;
}
pre{
	border: 1px solid #cecece;
	padding: 0.5em;
	background: #ededed;
}
span.line-numbers{
	margin: 0;
	padding: 3px;
}

pre>code {
	font-size: 1em;
}
td p, td ul, td ol {
	margin: 0;
}
td>div.code, td>code {
	width: auto;
	margin: 0.2em;
	padding: 0.2em;
}

/* FONTS */

body {
	font-family: "Gentium Book Basic", "Book Antiqua", "Times New Roman", "Serif";
}

code, pre {
	font-family: "Droid Sans Mono", "Consolas", "Monaco", "Courier", "Monospace";
}
