* {
  font-family: inherit;
  border: none;
  font-size: 100%;
  font-style: inherit;
  margin: 0;
  padding: 0; }

html {
  background: #fff; }

ol, ul {
  margin: 0.3em 0; }

p {
  margin: 1em 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  margin-top: 1em; }

body {
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  padding: 0 1em;
  text-align: justify; }

/* Structure */
.halftitlepage {
  margin: auto;
  text-align: center; }

.titlepage {
  margin: auto;
  text-align: center; }
  .titlepage h1 {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0.2em; }

.halftitlepage h1 {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 0.2em; }
.halftitlepage h2 {
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  prince-bookmark-level: none; }

.titlepage h2 {
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  prince-bookmark-level: none; }

.author {
  font-size: 1em; }

.pubdate {
  font-size: 0.8em; }

li {
  list-style-type: square;
  margin: 0.4em 0;
  margin-left: 1.5em; }

ol li {
  list-style-type: decimal; }

.contents li {
  list-style-type: none; }

img {
  margin: 0 5px;
  padding: 2px; }

dt {
  font-weight: bold;
  margin-top: 1em; }

dd {
  font-style: italic; }

blockquote {
  margin: 1em 1em;
  font-style: italic;
  color: #121212; }

table {
  border: 1px solid #e6e6e6; }

th {
  background: #EEE; }

tr, td, th {
  padding: 5px; }

td, tr {
  border: 1px solid #e6e6e6; }

sup {
  font-size: 0.7em;
  font-weight: bold;
  margin-left: -0.4em; }

/* BLOCKS */
.center {
  margin: auto;
  text-align: center; }

.left {
  margin: auto;
  text-align: left; }

.right {
  margin: auto;
  text-align: center; }

.note, .important, .tip, .caution, .box {
  border: 1px solid #e6e6e6;
  display: block;
  margin: 0.5em auto;
  padding: 0 0.5em;
  width: 600px;
  background: #EEE;
  color: #1F1F1F; }

.note > p, .important > p, .tip > p, .caution > p {
  margin: 0;
  padding: 0; }

.note-title {
  font-weight: bold;
  margin-right: 1em; }

.box-title {
  display: block;
  text-align: center;
  font-weight: bold; }

.comment {
  display: block;
  border: 1px solid #004D00;
  background: #7AFF7A;
  padding: 3px;
  margin: 1px; }
  .comment .comment-pre {
    color: #004D00; }

.todo {
  display: block;
  border: 1px solid #990000;
  background: #FF9999;
  padding: 3px;
  margin: 1px; }
  .todo .todo-pre {
    color: #990000; }

/* TEXT */
body {
  color: #000;
  font-size: 1em; }

h2, section section h1, h1.toc-header {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: 3em 0 1em 0; }

h3, section section section h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 3em 0 1em 0; }

h4, section section section section h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 3em 0 1em 0; }

h5, section section section section section h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 3em 0 1em 0; }

em {
  font-style: italic; }

a {
  color: #007bc4;
  text-decoration: none; }
  a:hover {
    color: #005b91; }

.code > pre {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #222;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 20px;
  overflow: auto hidden;
  margin: 20px 0 20px 0; }

code, .CodeRay {
  font-size: 0.8em; }

span.line-numbers {
  margin: 0;
  padding: 3px; }

nav, .navigation {
  display: block;
  margin: 1em auto;
  text-align: center;
  border: 1px solid #e6e6e6; }

nav.contents {
  margin: auto;
  text-align: left;
  border: none; }
nav a {
  margin: 1em; }

.navigation a {
  margin: 1em; }

nav.contents a {
  margin: 0; }

mark {
  font-weight: bolder;
  font-style: italic;
  background: none; }

td p, td ul, td ol {
  margin: 0; }

.topic {
  margin: 2em auto; }

/* FONTS */
body {
  font-family: "Gentium Book Basic", "Book Antiqua", "Times New Roman", "Serif"; }

code, pre {
  font-family: "Droid Sans Mono", "Consolas", "Monaco", "Courier", "Monospace"; }
