$border-color: #e6e6e6; 
$link-color: #007BC4;
$link-hover-color: #005B91;

@mixin standard-border {
	border: 1px solid $border-color;
}

@mixin codeblock {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #222;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 20px;
  overflow: auto hidden;
  margin: 20px 0 20px 0; }
